<template>
  <tr
    v-on:click="handlerClick()"
  >
    <td>{{ data.id }}</td>
    <td>{{ data.firstName }} </td>
    <td>{{ data.lastName }}</td>
    <td>{{ data.email }}</td>
    <td>{{ data.phone }}</td>
  </tr>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      default: () => ({}),
    }
  },
  data() {
    return {
      dataAboutUser: {
        firstName:  '',
        lastName: '',
        description: '',
        streetAddress: '',
        city: '',
        state: '',
        zip: '',
      }
    }
  },
  methods: {
    handlerClick() {
      const infoUser = Object.assign(this.dataAboutUser, this.data)
      this.$store.commit('users/INFO_ABOUT_USER', infoUser);
    },
  }
}
</script>
