<template>
  <div class="pagination">
    <button v-on:click="prev(data)">prev</button>
    <p> {{ numberFrom + 1 }} - {{ data.length }}</p>
    <button v-on:click="next(data)">next</button>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Array,
      default: () => ([]),
    }
  },

  data () {
    return {
      numberFrom: 1 - 1,
    }
  },

  methods: {
    next(data) {
      if((this.numberFrom + 1) < data.length && this.numberFrom >= 0) this.numberFrom++
      this.$emit('next', this.numberFrom);
    },
    prev(data) {
      if(this.numberFrom <= data.length && this.numberFrom > 0) this.numberFrom--
      this.$emit('prev', this.numberFrom);
    },
  },
}
</script>

<style scoped>
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
  }
  .pagination button {
    width: 100px;
    height: 30px;
    text-transform: uppercase;
    background: rgb(185, 247, 190);
    border: 1px solid green;
    padding: 0;
    cursor: pointer;
  }
  .pagination button:hover {
    background: rgb(84, 252, 112);
  }
  .pagination p {
    padding: 0px 35px;
    font-size: 18px;
  }
</style>
