<template>
  <tr class="title">
    <td
      @click="filter(data, 'id', 1)"
      ref="sort-1"
    >
      <span>
        id
      </span>
      <i class="fas fa-angle-down"></i>
    </td>
    <td
      @click="filter(data, 'firstName', 2)"
      ref="sort-2"
    >
      <span>
        firstName
      </span>
      <i class="fas fa-angle-down"></i>
    </td>
    <td
      @click="filter(data, 'lastName', 3)"
      ref="sort-3"
    >
      <span>
        lastName
      </span>
      <i class="fas fa-angle-down"></i>
    </td>
    <td
      @click="filter(data, 'email', 4)"
      ref="sort-4"
    >
      <span>
        email
      </span>
      <i class="fas fa-angle-down"></i>
    </td>
    <td
      @click="filter(data, 'phone', 5)"
      ref="sort-5"
    >
      <span>
        phone
      </span>
      <i class="fas fa-angle-down"></i>
    </td>
  </tr>
</template>

<script>
export default {

  props: {
    data: {
      type: Array,
      default: () => ([]),
    },
    numberFrom: {
      type: Number,
      default: 0,
    }
  },
  data() {
    return {
      arrKey: [],
      bool: false,
    }
  },

  methods: {
    filter(data, param, key) {
      const tdElem = this.$refs[`sort-${key}`];
      const allTcon = this.$el.querySelectorAll('.title td i');
      let sortData = JSON.parse(JSON.stringify(data));
      this.arrKey.push(key);
      this.arrKey.forEach((element, i) => {
        if (element != key) {
          this.bool = false;
          this.arrKey.splice(i, 1);
          allTcon.forEach(elem => elem.classList.remove('sort'));
          return false;
        }
        return false;
      });
      if (this.arrKey.length > 1) this.arrKey = [];
      if (this.bool == false) {
        sortData[this.numberFrom].sort((a, b) => a[param] > b[param] ? 1 : -1);
        tdElem.lastChild.classList.add('sort');
        this.bool = true;
      } else {
        sortData[this.numberFrom].sort((a, b) => a[param] < b[param] ? 1 : -1);
        tdElem.lastChild.classList.remove('sort');
        this.bool = false;
      }
      this.$emit('sortData', sortData);
    },
  },
}
</script>

<style scoped>
  .sort {
    transform: rotate(180deg);
  }
</style>
