<template>
  <div>
    <h1>Таблица пользователей</h1>
    <table class="table">
      <SortUsers
        @sortData="sortData"
        :data="sort"
        :numberFrom="numberFrom"
      />
      <template v-for="item in sort[numberFrom]">
        <ListUsers
          :key="item.id"
          :data="item"
          :numberFrom="numberFrom"
        />
      </template>
    </table>
    <Pagination
      :data="sort"
      @next="getNumber"
      @prev="getNumber"
    />
  </div>
</template>

<script>
import SortUsers from '@/components/UserTable/SortUsers'
import Pagination from '@/components/UserTable/Pagination'
import ListUsers from '@/components/UserTable/ListUsers'

export default {
  props: {
    data: {
      type: Array,
      default: () => ([]),
    }
  },

  components: {
    SortUsers,
    Pagination,
    ListUsers,
  },

  data() {
    return {
      numberFrom: 1 - 1,
      sort: [],
    }
  },

  mounted() {
    this.sort = this.data;
  },

  methods: {

    sortData(getData) {
      this.sort = getData;
    },

    getNumber(number) {
      this.numberFrom = number;
    },
  },
}
</script>

<style scoped>
  h1 {
    margin: 15px 0;
  }
  .table {
    border-collapse: collapse;
    background: rgb(185, 247, 190);
  }
  >>> .table tr.title {
    background: rgb(84, 252, 112);
  }
  >>> .table tr {
    cursor: pointer;
  }
  >>> .table tr:hover {
    background: rgb(144, 250, 149);
  }
  >>> .table tr:first-child:hover {
    background: rgb(84, 252, 112);
  }
  >>> .table td {
    border: 1px solid green;
    padding: 10px 20px;
    text-align: center;
    box-sizing: border-box;
    width: 200px;
    height: 30px;
    min-width: 130px;
  }
  .table td:nth-child(1) {
    min-width: 70px;
  }
  .dataset {
    margin-bottom: 20px;
  }
  .dataset {
    cursor: pointer;
  }
  .dataset p {
    margin-bottom: 7px;
  }

</style>
