<template>
  <div class="users-data">
    <h2>Вывод пользовательских данных</h2>
    <p>Выбран пользователь: <span>{{ data.firstName  }} {{ data.lastName }}</span></p>
    <p>Описание: <textarea :value="data.description"></textarea></p>
    <p>Адрес проживания: <span>{{ data.streetAddress }}</span></p>
    <p>Город: <span>{{ data.city }}</span></p>
    <p>Провинция/штат: <span>{{ data.state }}</span></p>
    <p>Индекс:  <span>{{ data.zip }}</span></p>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: Object,
      default: () => ({}),
    }
  },
}
</script>

<style scoped>
  .users-data {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .users-data textarea {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 5px 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    min-height: 120px;
    box-sizing: border-box;
  }
  .users-data p {
    margin-top: 10px;
    padding: 7px 0;
    border-bottom: 2px solid #55ce84;
  }
  .users-data p span {
    font-weight: bold;
  }
</style>
