<template>
  <main class="app">
    <no-ssr>
      <UserTable
        :data="getData"
      />
      <UserData
        :data="getInfoAboutUsers"
      />
    </no-ssr>
  </main>
</template>

<script>
import UserData from '@/components/UserData'
import UserTable from '@/components/UserTable'
export default {

  components: {
    UserData,
    UserTable,
  },

  computed: {
    getData() {
      return this.$store.state.users.users;
    },
    getInfoAboutUsers() {
      return {
        ...this.$store.state.users.infoAboutUser
      };
    }
  },

  async fetch({store}) {
      if(store.getters['users/users'].length === 0) {
        await store.dispatch('users/FETCH');
      }
  },
}

</script>

<style>
  body {
      font-family: Arial, Helvetica, sans-serif;
  }
  h1 {
    margin: 15px 0;
  }
  .app {
    width: 750px;
    margin: 0 auto;
  }

</style>
